table {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    text-align: center;
}

th {
    cursor: pointer;
}

#filter-add, #filter-remove {
    margin: 1px;
    padding: 1px;
    border: 1px solid black;
}

#filter-add div, #filter-remove div {
    margin: 1px;
    padding: 1px;
    border: 1px solid black;
    display: inline-block;
}